
h1{
  text-align: center;
  margin: 50px;
  color: rgb(22, 66, 22);
}
table,th,td{
  border-collapse: collapse;
  border: 1px solid rgb(22, 66, 22);
}
table{
  position: relative;
  left: 30%;
  right: 20%;
  margin: 20px;
  width: 700px;
  border: 2px solid rgb(22, 66, 22);
}
th{
  border: 2px solid rgb(22, 66, 22);
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
td{
  text-align: left;
  padding: 15px;
}
